.DS_Store
sftp-config*

application/cell/cache/*

application/cache/*
!application/cache/index.html
!application/cache/.htaccess

application/logs/*
!application/logs/index.html
!application/logs/.htaccess

application/config/database.php

temp/*

upload/*

assets/*

compass/.sass-cache/*

gulp/node_modules/*
gulp/.sass-cache/*
gulp/npm-debug.log
