@import "_oa";

@include font-face("admin", font-files("admin/fonts/icomoon.eot", "admin/fonts/icomoon.woff", "admin/fonts/icomoon.ttf", "admin/fonts/icomoon.svg"));
[class^="icon-"], [class*=" icon-"] {
  font-family: "admin"; speak: none; font-style: normal; font-weight: normal; font-variant: normal;
  @include font-smoothing(antialiased);
}

.icon-file-text2:before {
  content: "\e926";
}
.icon-price-tags:before {
  content: "\e936";
}
.icon-eye:before {
  content: "\e9ce";
}
.icon-sort-amount-desc:before {
  content: "\ea4d";
}
.icon-check:before {
  content: "\e910";
}
.icon-grin:before {
  content: "\e9e9";
}
.icon-keyboard_arrow_left:before {
  content: "\e314";
}
.icon-keyboard_arrow_right:before {
  content: "\e315";
}
.icon-first_page:before {
  content: "\e5dc";
}
.icon-last_page:before {
  content: "\e5dd";
}
.icon-menu:before {
  content: "\e900";
}
.icon-keyboard_arrow_up:before {
  content: "\e901";
}
.icon-keyboard_arrow_down:before {
  content: "\e904";
}
.icon-home:before {
  content: "\e905";
}
.icon-cross:before {
  content: "\e907";
}
.icon-power:before {
  content: "\e908";
}
.icon-notifications_active:before {
  content: "\e909";
}
.icon-pencil2:before {
  content: "\e90a";
}
.icon-images:before {
  content: "\e90e";
}
.icon-search:before {
  content: "\e986";
}
.icon-bin:before {
  content: "\e9ac";
}
.icon-sort:before {
  content: "\e90b";
}
.icon-triangle-up:before {
  content: "\e90d";
}
.icon-triangle-down:before {
  content: "\e90f";
}